{% extends 'base.html' %}
{% load static %}

{% block title %}{{ book.title }}-{{ book.author }}{% endblock %}

{% block content %}
<div class="container">
    <div class ="row">
        <div class="col-sm-12">
            <h3>{{ book.title }}</h3>
            <h4>{{ book.author }}</h4>
            {% if user.is_authenticated %}
                {% if book in user.favorates.all %}
                    <button class="btn btn-outline-success my-2 my-sm-0"><a href="#">Remove Favorates</button>
                {% else %}
                <button class="btn btn-outline-success my-2 my-sm-0"><a href="#">Add to Favorates</button>
                {% endif %}
            {% endif %}
        </div>
        {% for chapter in chapters %}
        <div class="col-sm-4">
            <p><a href="{% url 'chapter_detail' chapter.pk %}">{{ chapter.title }}</a></p>
        </div>
        {% empty %}
        <div class="col-sm-4">            
            <p>暂无章节</p>            
        </div>    
        {% endfor %}    
    </div>
</div>



{% endblock %}