{% extends 'base.html' %}
{% load static %}

{% block title %}{{ book.title }}-{{ book.author }}{% endblock %}

{% block content %}
<div class ="text-center">
        <div class="container">
                {% if book.cover %}
                    <img src="{{ book.cover.url }}" height="200">
                {% endif %}
            </div>
    <h3 class="center-block">{{ book.title }}</h3>
    <p class="center-block">
            {% for author in book.authors.all %}
            {{ author }}
                {% if not forloop.last %}
                ,
                {% endif %}
            {% empty %}
            ??
            {% endfor %}
    </p>
    {% if user.is_authenticated %}
                {% if book in user.favorates.all %}
                    <button class="btn btn-outline-success my-2 my-sm-0">
                        <a href="{% url 'users:favorate' book.pk 'drop' %}">Remove from Shelf</a>
                    </button>
                {% else %}
                    <button class="btn btn-outline-success my-2 my-sm-0"><a href="{% url 'users:favorate' book.pk 'add' %}">Add to Shelf</a>
                    </button>
                {% endif %}
    {% endif %}
</div> 
<div class="container">
    <div class ="row">
        <div class="col-sm-12">
            
        </div>
        {% for chapter in ChapterList %}
        <div class="col-sm-4">
            <p><a href="{% url 'chapter_detail' chapter.pk %}">{{ chapter.title }}</a></p>
        </div>
        {% empty %}
        <div class="col-sm-4">            
            <p>暂无章节</p>            
        </div>    
        {% endfor %}    
    </div>
</div>



{% endblock %}