{% extends 'base.html' %}
{% load static %}
{% load novel_tags %}

{% block title %}
{{ book.title }}-
{% for author in book.authors.all %}
{{ author }}
    {% if not forloop.last %}
    ,
    {% endif %}
{% empty %}
??
{% endfor %}
{% endblock %}

{% block content %}
<div class="container">
    <div class ="row">
        <div class="card" style="width:20rem;">
            <img class="card-img-top" src="{% if book.cover %}{{ book.cover.url }}{% else %}{% static 'novel/img/nocoveratpresent.jpg' %}{% endif %}" alt="Book Cover">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <h6 class="card-subtilte">
                    {% for author in book.authors.all %}
                        {{ author }}
                            {% if not forloop.last %}
                            ,
                            {% endif %}
                        {% empty %}
                        ??
                    {% endfor %}
                </h4>
                <p class="card-text">{{book.intro}}</p>
                {% if user.is_authenticated %}
                    {% if request.user in book.favorated_user.all %}
                    <a href="{% url 'novel:favorate' book.pk 'remove' %}">                   
                        Remove from Shelf                    
                    </a>
                    {% else %}
                    <a href="{% url 'novel:favorate' book.pk 'add' %}">                    
                        Add to Shelf
                    </a>        
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for chapter in ChapterList %}
                <div class="col-sm-4">
                    <p><a href="{% url 'novel:chapter_detail' chapter.pk %}">{{ chapter.title }}</a></p>
                </div>
                {% empty %}
                <div class="col-sm-4">            
                    <p>暂无章节</p>            
                </div>    
                {% endfor %}    
            </div>
        </div>
    </div>
</div>



{% endblock %}