{% extends 'base.html' %}
{% load static %}

{% block title %}{{ chapter.title }} - {{chapter.book.title}}{% endblock %}
{% block home %}active{% endblock %}

{% block content %}
<div class ="text-center">
    <h3 class="center-block">{{ chapter.title }}</h3>              
    <p class="center-block">更新时间{{ chapter.created_time }}</p>
</div> 
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if chapter_prev %}
            <li class="page-item">
                <a class="page-link" href="{% url 'chapter_detail' chapter_prev.pk %}">上一章</a>
            </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">上一章</a>
        </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="{% url 'book_detail' chapter.book.pk %}">目录</a></li>
        {% if chapter_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'chapter_detail' chapter_next.pk %}">上一章</a>
            </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">上一章</a>
        </li>
        {% endif %}
    </ul>
</nav>
  
<div class="container">
    <div class ="row mx-1"> 
        <div>
            {{ body|safe }}
        </div>
    </div>
</div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if chapter_prev %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'chapter_detail' chapter_prev.pk %}">上一章</a>
                </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">上一章</a>
            </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="{% url 'book_detail' chapter.book.pk %}">目录</a></li>
            {% if chapter_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'chapter_detail' chapter_next.pk %}">上一章</a>
                </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">上一章</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endblock %}