{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_name }}{% endblock %}

{% block content %}
<style>
    .coverimg {
      height: 200px;
      background: #aaa;
    }
</style>

<div class="container">
    <div class ="row">
        {% for book in book_list %}
        <div class ="col-sm-2">
            <div class="container">
                <div class="coverimg">Cover Image</div>
            </div>
            <h4><a href="{% url 'book_detail' book.pk%}">{{ book.title }}</a></h4>
            <p>作者：{{book.author}}</p>
        </div>
        {% empty %}
        <div class="col-sm-2">
            <p>暂无书籍</p>
        </div>       
        {% endfor %}
    </div>
</div>

{% endblock %}